{
  "openapi": "3.1.1",
  "info": {
    "title": "Akeda ERP Client API",
    "version": "0.21.0-core-public",
    "summary": "Проверяемый публичный контракт Go API Akeda ERP",
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Akeda-Proprietary"
    },
    "description": "Этот контракт описывает API Akeda ERP. Полный исходный файл используют\nпроверки живых Go-маршрутов, внутренние клиенты и реестр MCP. Скачиваемый\nклиентский контракт в `/docs` содержит только отобранные внешние методы;\nадминистративные методы кабинета показаны отдельно после входа, а\nплатформенные операторские методы остаются во внутреннем источнике.\nСтадия `public` означает обещание совместимости; `preview` допускает\nизменение формы. Аудитория, стадия и `security` — разные признаки:\nналичие метода в полном файле само по себе не выдаёт вызывающему право.\nСервер отдельно проверяет тип токена, кабинет, scope и права на запись.\nАктуальные числа покрытия берите из генерируемой карты маршрутов и\nкаталога покрытия, а не из описательного текста.\n"
  },
  "servers": [
    {
      "url": "https://erp.akeda.ru",
      "description": "PROD"
    }
  ],
  "security": [
    {
      "erpUserToken": []
    },
    {
      "tenantApiKey": []
    },
    {
      "mcpOAuth": [
        "akeda:delegate"
      ]
    }
  ],
  "tags": [
    {
      "name": "Tasks",
      "description": "Модуль tasks (задачник)"
    },
    {
      "name": "Automation",
      "description": "Манифест возможностей автоматизаций «когда → если → то»"
    },
    {
      "name": "Calendar",
      "description": "Модуль calendar (события, занятость и внешняя синхронизация)"
    },
    {
      "name": "Chat",
      "description": "Модуль chat (чаты и рабочие обсуждения)"
    },
    {
      "name": "Core directories",
      "description": "Модуль core (справочники) — единый каталог, конструктор справочников и папки"
    },
    {
      "name": "Core contacts",
      "description": "Модуль core (справочники) — контрагенты и их роли покупателя/поставщика"
    },
    {
      "name": "Core products",
      "description": "Модуль core (справочники) — товары, услуги, семейства, варианты и внешние идентификаторы"
    },
    {
      "name": "Core documents",
      "description": "Модуль core (справочники) — типы документов, журнал, проведение, связи и блокировки"
    },
    {
      "name": "Core trade",
      "description": "Модуль core (справочники, документы и проведение) — продажи и поставщикам, статусы кабинета и загрузка"
    },
    {
      "name": "Core registers",
      "description": "Модуль core (справочники) — определения регистров, остатки, обороты и движения"
    },
    {
      "name": "Core accounting",
      "description": "Модуль core (справочники) — валюта, аналитические разрезы и закрытие периода"
    },
    {
      "name": "Core ledger",
      "description": "Модуль core (справочники) — план счетов, схема проводок и оборотно-сальдовая ведомость"
    },
    {
      "name": "Core accounting items",
      "description": "Модуль core (справочники) — единые статьи ДДС и ОПиУ"
    },
    {
      "name": "Core employees",
      "description": "Модуль core (справочники) — сотрудники, оргструктура и фотографии"
    },
    {
      "name": "Core currency rates",
      "description": "Модуль core (справочники) — история, источники и обновление курсов валют"
    },
    {
      "name": "Core product transfers",
      "description": "Модуль core (справочники) — шаблоны, управляемый импорт и экспорт номенклатуры"
    },
    {
      "name": "Finance accounts",
      "description": "Модуль finance (счета и выписки) — банковские счета и входящие остатки"
    },
    {
      "name": "Finance statements",
      "description": "Модуль finance (счета и выписки) — ручные и загруженные выписки"
    },
    {
      "name": "Finance transactions",
      "description": "Модуль finance (счета и выписки) — операции, категоризация и очередь сверки"
    },
    {
      "name": "Finance connectors",
      "description": "Модуль finance (счета и выписки) — безопасное управление подключениями к банкам"
    },
    {
      "name": "Finance connector sync",
      "description": "Модуль finance (счета и выписки) — счета провайдера, синхронизация и журнал запусков"
    },
    {
      "name": "Finance requisites",
      "description": "Модуль finance (счета и выписки) — проверка владельца, БИК и номера счёта"
    },
    {
      "name": "Finance counterparty terms",
      "description": "Модуль finance (счета и выписки) — версионируемые коммерческие условия и позиция контрагента"
    },
    {
      "name": "Finance settlements",
      "description": "Модуль finance (счета и выписки) — документы долгов, авансов, продаж, закупок и распределения оплат"
    },
    {
      "name": "Finance exchange",
      "description": "Модуль finance (счета и выписки) — идемпотентный журнал обмена с внешними учётными системами"
    },
    {
      "name": "Finance payment calendar",
      "description": "Модуль finance (счета и выписки) — планы, факты и прогноз движения денег"
    },
    {
      "name": "Finance registers",
      "description": "Модуль finance (счета и выписки) — пересинхронизация и сверка учётных регистров"
    },
    {
      "name": "Finance reports",
      "description": "Модуль finance (счета и выписки) — ДДС, ОПиУ, баланс и проверки периода"
    },
    {
      "name": "CRM pipelines",
      "description": "Модуль crm — воронки, стадии, нормативы SLA и порядок этапов"
    },
    {
      "name": "CRM deals",
      "description": "Модуль crm — сделки, доска, история стадий и причины отказа"
    },
    {
      "name": "CRM leads",
      "description": "Модуль crm — заявки, квалификация и перевод в сделку"
    },
    {
      "name": "CRM customers",
      "description": "Модуль crm — собственная база клиентов и перенос в справочник контрагентов ERP"
    },
    {
      "name": "CRM import",
      "description": "Модуль crm — перенос клиентов, лидов и сделок из чужих CRM и файлов"
    },
    {
      "name": "CRM inbox",
      "description": "Модуль crm — каналы, диалоги, переписка и шаблоны ответов"
    },
    {
      "name": "CRM automation",
      "description": "Модуль crm — правила автоматизации, запуски и журнал действий"
    },
    {
      "name": "CRM analytics",
      "description": "Модуль crm — сводка менеджера и аналитика продаж"
    },
    {
      "name": "CRM links",
      "description": "Модуль crm — заметки и связи записей с задачами, событиями и встречами"
    },
    {
      "name": "Files",
      "description": "Модуль files (файловое хранилище кабинета)"
    },
    {
      "name": "Files access",
      "description": "Права на папки файлового хранилища"
    },
    {
      "name": "Files content",
      "description": "Скачивание файлов и выгрузка папок архивом"
    },
    {
      "name": "Files uploads",
      "description": "Докачиваемая загрузка файлов частями"
    },
    {
      "name": "Files shares",
      "description": "Внешние ссылки на файлы и папки"
    },
    {
      "name": "Knowledge spaces",
      "description": "Модуль knowledge (база знаний) — пространства и дерево страниц"
    },
    {
      "name": "Knowledge pages",
      "description": "Модуль knowledge (база знаний) — страницы, редакции, согласование, публикация и корзина"
    },
    {
      "name": "Knowledge access",
      "description": "Модуль knowledge (база знаний) — состав участников пространства и страницы"
    },
    {
      "name": "Knowledge files",
      "description": "Модуль knowledge (база знаний) — файлы страницы и их содержимое"
    },
    {
      "name": "Knowledge search",
      "description": "Модуль knowledge (база знаний) — поиск по материалам и ответ с цитатами"
    },
    {
      "name": "Stock documents",
      "description": "Модуль stock (склад) — журнал складских документов, проведение, отмена, связи и блокировки"
    },
    {
      "name": "Stock inventory",
      "description": "Модуль stock (склад) — инвентаризация, снимок остатков, ведомость пересчёта и производные акты"
    },
    {
      "name": "Stock warehouses",
      "description": "Модуль stock (склад) — склады, их активность и блокировки деактивации"
    },
    {
      "name": "Stock handling units",
      "description": "Модуль stock (склад) — физические единицы хранения, их состояние и подсказки размещения"
    },
    {
      "name": "Stock batches",
      "description": "Модуль stock (склад) — партии"
    },
    {
      "name": "Stock assembly specs",
      "description": "Модуль stock (склад) — версионируемый состав изделия для комплектации и разукомплектации"
    },
    {
      "name": "Stock product units",
      "description": "Модуль stock (склад) — единицы измерения товара и их пересчёт"
    },
    {
      "name": "Stock references",
      "description": "Модуль stock (склад) — справочные выборки склада, юрлица кабинета и поставщики"
    },
    {
      "name": "Stock imports",
      "description": "Модуль stock (склад) — загрузка данных файлом, разбор, соответствие колонок, предпросмотр и применение"
    },
    {
      "name": "Stock exports",
      "description": "Модуль stock (склад) — выгрузка данных файлом"
    },
    {
      "name": "Stock reports",
      "description": "Модуль stock (склад) — отчёты по остаткам, закупкам и резервам"
    },
    {
      "name": "Stock valuation",
      "description": "Модуль stock (склад) — расчёт себестоимости, предпросмотр и асинхронный пересчёт"
    },
    {
      "name": "Stock reorder rules",
      "description": "Модуль stock (склад) — правила пополнения"
    },
    {
      "name": "Stock settings",
      "description": "Модуль stock (склад) — настройки склада и учётные политики юрлиц"
    },
    {
      "name": "Stock purchasing",
      "description": "Модуль stock (склад) — закупки"
    },
    {
      "name": "Marketplace stores",
      "description": "Модуль marketplace (торговые площадки) — магазины Ozon, Wildberries и Яндекс.Маркета"
    },
    {
      "name": "Marketplace Ozon",
      "description": "Модуль marketplace (торговые площадки) — витрины Ozon и расчёт юнит-экономики"
    },
    {
      "name": "Marketplace Wildberries",
      "description": "Модуль marketplace (торговые площадки) — витрины Wildberries и карточка товара"
    },
    {
      "name": "Marketplace Yandex",
      "description": "Модуль marketplace (торговые площадки) — витрины Яндекс.Маркета"
    },
    {
      "name": "Finance payroll",
      "description": "Модуль finance (счета и выписки) — зарплатные документы, реестры выплат и загрузка ведомости"
    },
    {
      "name": "Core reference",
      "description": "Модуль core (справочники) — публичный слой ссылок, каталог справочников, значения по ключу и разрешение ссылок"
    },
    {
      "name": "Settings companies",
      "description": "Модуль settings (участники, роли, юрлица) — юрлица кабинета, метод учёта и ставки НДС"
    },
    {
      "name": "Settings roles",
      "description": "Модуль settings (участники, роли, юрлица) — роли, их носители и перенос носителей"
    },
    {
      "name": "Settings members",
      "description": "Модуль settings (участники, роли, юрлица) — участники кабинета"
    },
    {
      "name": "App runtime",
      "description": "Внешний контур: маршруты, которые зовёт САМА установка приложения своим краткосрочным токеном. Предъявитель здесь не человек, кабинет берётся из токена, а не из адреса, и доступ решает пересечение согласия кабинета, манифеста версии и среза токена. Области `app:self` и `app:secrets` манифест обязан ЗАПРОСИТЬ, а кабинет — одобрить: установка, у которой их нет, получает 403, и это не поломка, а несогласие. Приложение, которое только принимает вебхуки и ничего у Akeda не спрашивает, не просит ни одной из них"
    },
    {
      "name": "Developer account",
      "description": "Личный контур внешнего разработчика Akeda Apps: самостоятельная регистрация, вход по одноразовой ссылке и заявка на имя издателя. Предъявитель здесь не сотрудник кабинета и не установка приложения, а человек, у которого кабинета может не быть вовсе. Кабинета в этих адресах нет ни одного сегмента, а токен сессии разработчика не открывает ни один маршрут кабинета: его хеш лежит в отдельном хранилище, и кабинетный запрос принципала не находит его ничем"
    },
    {
      "name": "Docflow connections",
      "description": "Модуль docflow (документы) — подключения юрлиц кабинета к операторам ЭДО. Учётные данные оператора не возвращаются ни одной операцией: снаружи виден только признак их наличия"
    },
    {
      "name": "Docflow mirror",
      "description": "Модуль docflow (документы) — зеркало документов оператора, его обновление и выдача файлов. Отправки документа контрагенту здесь нет ни одной операции"
    },
    {
      "name": "Docflow flow",
      "description": "Модуль docflow (документы) — внутренний документооборот кабинета: карточки договоров, спецификаций и актов, их неизменяемые редакции, файлы и связи между документами. Учётного факта это крыло не создаёт: регистры и главную книгу оно не трогает вовсе"
    },
    {
      "name": "Docflow payment requests",
      "description": "Модуль docflow (документы) — заявка на оплату как документ: автор заводит её и отправляет по маршруту согласования, согласованная уходит в модуль finance (счета, выписки и расчёты) в платёжный календарь или казначею по флагу маршрута, а автор видит ход оплаты и платёжку без доступа к финансам."
    },
    {
      "name": "Docflow approvals",
      "description": "Модуль docflow (документы) — согласование как САМОСТОЯТЕЛЬНАЯ сущность: лист больше не часть карточки. Предмет назван нейтральной тройкой «модуль — вид — идентификатор», и внешнего ключа на него нет вовсе, поэтому одним и тем же крылом согласуются и карточка документооборота, и заявка на оплату модуля finance (счета, выписки и расчёты). Согласование ничего не проводит и ни строки регистра не пишет: оно отвечает на один вопрос — можно ли уже выполнить действие, выпускающее бумагу или деньги наружу. Таких действий ровно два: отправить документ контрагенту и отправить заявку в банк; редактирование карточки не глушится никогда. Решение стоит под ОТДЕЛЬНЫМ правом docflow.flow:approve, а настройка маршрутов, замещений и обязательности — под docflow.flow:admin: маршрут решает, кого будут спрашивать про чужие бумаги, и это работа администратора кабинета. Согласование не является подписью: усиленная квалифицированная подпись живёт в крыле обмена с контрагентами и вычисляется на машине человека"
    },
    {
      "name": "Mail accounts",
      "description": "Модуль mail (почта сотрудника) — подключение ящиков по IMAP и SMTP, подсказки провайдеров, папки ящика и синхронизация по требованию. Пароль подключения не возвращает ни одна операция: о нём говорит только признак has_credentials"
    },
    {
      "name": "Mail messages",
      "description": "Модуль mail (почта сотрудника) — письма и переписки, отметки прочтения, важности и спама, перенос между папками, вложения, очередь отправки и составление письма. Письмо без признака save_as_draft уходит получателю, и отозвать его нельзя"
    },
    {
      "name": "Mail rules",
      "description": "Модуль mail (почта сотрудника) — правила разбора входящей почты и их применение к уже накопившимся письмам. Набор полей и операторов закрытый: правило исполняется на сервере над чужой перепиской"
    },
    {
      "name": "Finance acquiring",
      "description": "Модуль finance (счета и выписки) — сверка эквайринга — деньги в пути по оплатам картой, выплаты эквайера, реестры провайдера и эквайеры юрлиц"
    },
    {
      "name": "Dashboard metrics"
    },
    {
      "name": "Assistant",
      "description": "Личные разговоры и подписные сводки встроенного помощника"
    }
  ],
  "paths": {
    "/api/v1/tasks/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksListTasks",
        "summary": "Получить видимые пользователю задачи",
        "description": "Возвращает задачи текущего кабинета с учётом RBAC и record rules.\nБез limit исторически возвращается весь набор; новым клиентам следует\nпередавать limit и compact=true и листать offset до has_more=false.\n",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantHeader"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Слова запроса ищутся по коду, названию и описанию задачи; все слова должны совпасть",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_rank",
            "in": "query",
            "description": "Сначала точный код и номер задачи, затем совпадение в начале названия",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "section",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "UUID или несколько UUID через запятую",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TaskPriority"
            }
          },
          {
            "name": "milestone",
            "in": "query",
            "description": "Веха дорожной карты: UUID или точное имя. Возвращает только задачи\nэтой вехи. Несуществующее значение — ошибка 400, а не полная выдача:\nмолча проигнорированный фильтр читался бы как применённый.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "mine — только мои задачи: где вызывающий исполнитель, постановщик, соисполнитель, наблюдатель или тим-лид раздела («участвую»). До 26.09.2026 — только исполнитель или соисполнитель",
            "schema": {
              "type": "string",
              "enum": [
                "mine"
              ]
            }
          },
          {
            "name": "mine_roles",
            "in": "query",
            "description": "Сужает отбор «Мои» (scope=mine или counters=mine) до перечисленных ролей через запятую; пусто — все роли. Неизвестная роль — 400",
            "schema": {
              "type": "string",
              "example": "executor,watcher"
            }
          },
          {
            "name": "compact",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Размер окна; сервер ограничивает значение максимумом 200",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Окно задач",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksCreateTask",
        "summary": "Создать задачу",
        "description": "Для подзадачи передайте UUID родительской задачи в `parent`.\nПоле `description` принимает Markdown; строки `- [ ]` и `- [x]`\nотображаются как простой чек-лист внутри описания. Самостоятельный\nчек-лист с адресуемыми пунктами публикуется отдельным контрактом.\n",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantHeader"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Созданная задача",
            "headers": {
              "Idempotent-Replay": {
                "$ref": "#/components/headers/IdempotentReplay"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyKeyMismatch"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/IdempotencyUnavailable"
          }
        }
      }
    },
    "/api/v1/tasks/tasks/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/TaskID"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksGetTask",
        "summary": "Получить карточку задачи",
        "description": "Возвращает карточку указанной задачи.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Полная карточка задачи",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "patch": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksUpdateTask",
        "summary": "Частично изменить задачу",
        "description": "Меняет только переданные поля. `parent` связывает задачу с родителем,\n`managed_checklist` атомарно заменяет одну нативную группу чек-листа,\nсохраняя остальные группы и обычный текст описания задачи.\n",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновлённая задача",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksArchiveTask",
        "summary": "Мягко архивировать задачу",
        "description": "Архивирует указанную задачу без физического удаления.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Задача архивирована"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/tasks/{id}/move": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/TaskID"
        }
      ],
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksMoveTask",
        "summary": "Переместить задачу в другой workflow-статус",
        "description": "Перемещает указанную задачу в другой статус рабочего процесса.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskMove"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновлённая задача",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/tasks/{id}/comments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/TaskID"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksListComments",
        "summary": "Получить обсуждение задачи",
        "description": "Возвращает обсуждение указанной задачи.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Комментарии в хронологическом порядке",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksCreateComment",
        "summary": "Добавить комментарий к задаче",
        "description": "Заголовок `X-Akeda-Client: mcp` помечает запись как созданную агентом\nот имени пользователя, но не даёт дополнительных прав.\n",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AkedaClientHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Созданный комментарий",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/comments/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceID"
        }
      ],
      "delete": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksDeleteComment",
        "summary": "Удалить комментарий",
        "description": "Удаляет указанный комментарий задачи.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Комментарий удалён"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/projects": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksListProjects",
        "summary": "Получить доступные группы проектов задач",
        "description": "Возвращает доступные текущему пользователю группы проектов задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "parameters": [
          {
            "name": "counters",
            "in": "query",
            "description": "mine — счётчики задач (tasks_total/tasks_active/tasks_done/tasks_overdue) считают только мои задачи тем же правилом, что scope=mine в списке (бегунок «Только мои»)",
            "schema": {
              "type": "string",
              "enum": [
                "mine"
              ]
            }
          },
          {
            "name": "mine_roles",
            "in": "query",
            "description": "Сужает отбор «Мои» (scope=mine или counters=mine) до перечисленных ролей через запятую; пусто — все роли. Неизвестная роль — 400",
            "schema": {
              "type": "string",
              "example": "executor,watcher"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Группы проектов со счётчиками",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksCreateProject",
        "summary": "Создать группу проектов задач",
        "description": "Создаёт группу проектов задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Созданная группа проектов",
            "headers": {
              "Idempotent-Replay": {
                "$ref": "#/components/headers/IdempotentReplay"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyKeyMismatch"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/IdempotencyUnavailable"
          }
        }
      }
    },
    "/api/v1/tasks/projects/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceID"
        }
      ],
      "delete": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksArchiveProject",
        "summary": "Архивировать группу проектов задач",
        "description": "Если внутри остались задачи, укажите раздел назначения в `target_section`.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveTransfer"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Группа проектов архивирована"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/sections": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksListSections",
        "summary": "Получить проекты задач",
        "description": "Возвращает проекты задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "parameters": [
          {
            "name": "counters",
            "in": "query",
            "description": "mine — счётчики задач (tasks_total/tasks_active/tasks_done/tasks_overdue) считают только мои задачи тем же правилом, что scope=mine в списке (бегунок «Только мои»)",
            "schema": {
              "type": "string",
              "enum": [
                "mine"
              ]
            }
          },
          {
            "name": "mine_roles",
            "in": "query",
            "description": "Сужает отбор «Мои» (scope=mine или counters=mine) до перечисленных ролей через запятую; пусто — все роли. Неизвестная роль — 400",
            "schema": {
              "type": "string",
              "example": "executor,watcher"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Проекты задач со счётчиками и участниками",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksCreateSection",
        "summary": "Создать раздел задач",
        "description": "Создаёт раздел внутри выбранного проекта задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SectionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Созданный раздел задач",
            "headers": {
              "Idempotent-Replay": {
                "$ref": "#/components/headers/IdempotentReplay"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyKeyMismatch"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/IdempotencyUnavailable"
          }
        }
      }
    },
    "/api/v1/tasks/sections/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceID"
        }
      ],
      "patch": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksUpdateSection",
        "summary": "Изменить проект задач",
        "description": "Изменяет указанный проект задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SectionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновлённый проект задач",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Section"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksArchiveSection",
        "summary": "Архивировать проект задач",
        "description": "Если внутри остались задачи, передайте другой проект в `target_section`.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveTransfer"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Проект задач архивирован"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/statuses": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksListStatuses",
        "summary": "Получить workflow-статусы задач",
        "description": "Возвращает статусы рабочего процесса задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Статусы всех доступных проектов задач",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksCreateStatus",
        "summary": "Создать workflow-статус",
        "description": "Создаёт статус рабочего процесса задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Созданный статус",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/statuses/reorder": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        }
      ],
      "patch": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksReorderStatuses",
        "summary": "Изменить порядок workflow-статусов",
        "description": "Изменяет порядок статусов рабочего процесса задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusReorder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Порядок сохранён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OK"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/statuses/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceID"
        }
      ],
      "patch": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksUpdateStatus",
        "summary": "Изменить workflow-статус",
        "description": "Изменяет указанный статус рабочего процесса задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowStatusUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновлённый статус",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksDeleteStatus",
        "summary": "Удалить workflow-статус",
        "description": "Для занятого статуса передайте `move_tasks_to`, чтобы сначала перенести задачи.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusDelete"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Статус удалён"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/tags": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksListTagCatalog",
        "summary": "Получить каталог меток задач",
        "description": "Возвращает каталог меток задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Метки рабочего пространства",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskTagPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksCreateTag",
        "summary": "Создать метку задач",
        "description": "Создаёт метку задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskTagCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Созданная метка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskTagCatalogItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/tags/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceID"
        }
      ],
      "patch": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksUpdateTag",
        "summary": "Изменить метку задач",
        "description": "Изменяет указанную метку задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskTagUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновлённая метка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskTagCatalogItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksDeleteTag",
        "summary": "Архивировать метку задач",
        "description": "Архивирует указанную метку задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Метка архивирована"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/sections/{id}/members": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceID"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksListSectionMembers",
        "summary": "Получить участников проекта задач",
        "description": "Возвращает участников указанного проекта задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Участники с ролями в проекте задач",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SectionMember"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksAddSectionMember",
        "summary": "Добавить участника в проект задач",
        "description": "Добавляет участника в указанный проект задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SectionMemberAssignment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Назначенная роль участника",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectionMember"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/section-members/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceID"
        }
      ],
      "delete": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksDeleteSectionMember",
        "summary": "Удалить участника из проекта задач",
        "description": "Удаляет участника из указанного проекта задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Участник удалён"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/projects/{id}/team-metrics": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceID"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksGetProjectTeamMetrics",
        "summary": "Получить командный отчёт проекта задач",
        "description": "Поток «взято → сдано → закрыто» по дням или неделям окна и карточки исполнителей. Задача учитывается с точки обязательства — первого перехода из бэклога; «сдано» — первый вход в ревью или готово; срок сверяется с моментом сдачи. Источник — журнал этапов, видимость как у списка задач. Мест и рейтинга нет.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Окно: последние 7 или 30 дней (по дням), 13 недель или всё время (по неделям)",
            "schema": {
              "type": "string",
              "enum": [
                "week",
                "month",
                "quarter",
                "all"
              ],
              "default": "week"
            }
          },
          {
            "name": "tz",
            "in": "query",
            "description": "Часовой пояс читателя (IANA), по нему режутся дни окна; по умолчанию UTC",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Поток окна, снимок команды и карточки исполнителей",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMetrics"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/views": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksListViews",
        "summary": "Получить сохранённые виды задач",
        "description": "Возвращает сохранённые виды задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Сохранённые фильтры и сортировки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskViewPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksCreateView",
        "summary": "Сохранить вид задач",
        "description": "Сохраняет вид задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskViewCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Созданный вид",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/views/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceID"
        }
      ],
      "delete": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksDeleteView",
        "summary": "Удалить сохранённый вид задач",
        "description": "Удаляет указанный сохранённый вид задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Вид удалён"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/tasks/{id}/relations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/TaskID"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksListRelations",
        "summary": "Получить связи задачи с другими задачами",
        "description": "Возвращает связи указанной задачи с другими задачами.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Сторона связей относительно текущей задачи",
            "schema": {
              "$ref": "#/components/schemas/RelationDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Исходящие, входящие или все связи",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksCreateRelation",
        "summary": "Связать задачу с другой задачей",
        "description": "Поддерживаются обычная связь, блокировка, обратная блокировка и дубликат.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Созданная связь",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Relation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/relations/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceID"
        }
      ],
      "delete": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksDeleteRelation",
        "summary": "Удалить связь задач",
        "description": "Удаляет указанную связь между задачами.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Связь удалена"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/tasks/{id}/links": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/TaskID"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksListLinks",
        "summary": "Получить привязки задачи к сущностям ERP",
        "description": "Возвращает связи указанной задачи с сущностями ERP.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Привязки к продажам или закупкам, контактам, документам и другим сущностям",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksCreateLink",
        "summary": "Привязать задачу к сущности ERP",
        "description": "Создаёт связь задачи с указанной сущностью ERP.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Созданная привязка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/links/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceID"
        }
      ],
      "delete": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksDeleteLink",
        "summary": "Удалить привязку задачи к сущности ERP",
        "description": "Удаляет связь задачи с указанной сущностью ERP.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Привязка удалена"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/tasks/{id}/activity": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/TaskID"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksListActivity",
        "summary": "Получить ленту изменений задачи",
        "description": "Возвращает ленту изменений указанной задачи.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Неизменяемая история действий",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/tasks/{id}/status-metrics": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/TaskID"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksGetStatusMetrics",
        "summary": "Получить историю переходов и время задачи в статусах",
        "description": "Возвращает историю переходов задачи и время, проведённое в каждом статусе.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Начало периода в RFC3339",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Конец периода в RFC3339",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Переходы и суммарная длительность по статусам",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMetrics"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/templates": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksListTemplates",
        "summary": "Получить шаблоны регулярных задач",
        "description": "Возвращает шаблоны регулярных задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Доступные пользователю шаблоны",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskTemplatePage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksCreateTemplate",
        "summary": "Создать шаблон регулярной задачи",
        "description": "Создаёт шаблон регулярной задачи.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskTemplateCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Созданный шаблон",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskTemplate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/templates/run-due": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        }
      ],
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksRunDueTemplates",
        "summary": "Запустить все шаблоны, срок которых наступил",
        "description": "Повторный вызов идемпотентен по окну запуска шаблона.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Результаты запусков",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateRunPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/templates/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceID"
        }
      ],
      "delete": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksArchiveTemplate",
        "summary": "Архивировать шаблон регулярной задачи",
        "description": "Архивирует указанный шаблон регулярной задачи.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Шаблон архивирован"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/templates/{id}/run": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        },
        {
          "$ref": "#/components/parameters/ResourceID"
        }
      ],
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksRunTemplate",
        "summary": "Немедленно создать задачу из шаблона",
        "description": "Немедленно создаёт задачу из указанного шаблона.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Результат запуска",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateRunResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/tasks/milestones": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TenantHeader"
        }
      ],
      "get": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksListMilestones",
        "summary": "Получить вехи проектов задач",
        "description": "Возвращает вехи проектов задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:read",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
        "parameters": [
          {
            "name": "section",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Вехи выбранного проекта или группы проектов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MilestonePage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "operationId": "tasksCreateMilestone",
        "summary": "Создать веху проекта задач",
        "description": "Создаёт веху проекта задач.",
        "x-akeda-module": "tasks",
        "x-akeda-release-stage": "preview",
        "x-akeda-audience": "external",
        "x-akeda-permission": "tasks:write",
        "security": [
          {
            "erpUserToken": []
          },
          {
            "tenantApiKey": []
          },
          {
            "mcpOAuth": [
              "akeda:delegate"
            ]
          },
          {
            "installationToken": []
          }
        ],
[...]
