openapi: 3.1.1
info:
  title: Akeda ERP Public API
  version: 0.21.0-core-public
  summary: Проверяемый публичный контракт Go API Akeda ERP
  license:
    name: Proprietary
    identifier: LicenseRef-Akeda-Proprietary
  description: |
    Тридцать операций имеют стадию `public`: чтение справочных и учётных
    данных модуля core и разрешение ссылок на значения справочников. Их форма
    зафиксирована, ломающее изменение отклоняет CI, а снятие возможно только
    через пометку устаревшей и шесть месяцев после неё. Всё остальное — стадия
    `preview`: работает и описано, но совместимость не обещана. Записи в
    `public` не выводятся до появления внешнего потребителя: обещание дают
    кому-то, а не на всякий случай.
    Числа покрытия ниже сверены с машинным каталогом покрытия, а он собирается
    из живых маршрутов, а не пишется руками.
    Публичный контракт охватывает модуль tasks (задачник): 131 из 138 живых
    маршрутов, модуль calendar (события, занятость и внешняя синхронизация):
    35 из 46, и модуль chat (чаты и рабочие обсуждения): 41 из 42, включая
    вложения, аватары бесед, правку и удаление сообщений, закрепления, реакции
    и папки.
    Для модуля core (справочники) опубликованы
    141 из 142 операций, включая публичный слой ссылок на справочники: единый каталог, конструктор справочников, папки,
    контрагенты, номенклатура, сотрудники, кадровые операции, валюты,
    пользовательские настройки, внешние соответствия, документы, регистры,
    учётный контур, импорт/экспорт номенклатуры и разбор ОСВ 1С. Ссылка на
    значение справочника — это пара «ключ справочника плюс код», а не голый
    идентификатор, и проверяет её сервер. Внутренним остаётся один
    операторский маршрут доразноса документов.
    Для модуля finance (счета и выписки) опубликованы все 110 из 110
    операций: счета, выписки, транзакции, категоризация, сверка, входящие
    остатки, подключения к банкам, синхронизация, проверка реквизитов,
    коммерческие условия, взаиморасчёты, торговый журнал, журнал обмена,
    управляемый импорт, платёжный календарь, макеты ОПиУ, регистры, отчёты,
    зарплатный контур с реестрами выплат и расшифровки строк отчётов о
    движении денег и о прибылях.
    Исторические `/api/v1/bank/*` не дублируются в контракте.
    Для модуля crm (продажи) опубликованы 89 из 90 живых операций: воронки и
    стадии с нормативами SLA, сделки с доской и историей этапов, лиды с
    квалификацией и переводом в сделку, собственная база клиентов CRM и её
    перенос в справочник контрагентов, каналы и переписка, правила
    автоматизации, сводка менеджера и аналитика продаж. Внутренним остаётся
    только приём вебхуков провайдеров.
    Для модуля knowledge (база знаний) опубликованы 38 из 47 канонических
    операций: пространства и их состав участников, дерево страниц, жизненный
    цикл страницы от черновика до публикации, согласование и отклонение,
    история редакций с восстановлением, метки, обложки пространств, файлы
    страницы, поиск и ответ по материалам с оценкой качества. Профили агентов
    и персональное состояние интерфейса остаются внутренними.
    Для модуля stock (склад) опубликованы все 65 из 65 живых операций:
    складские документы и их проведение, инвентаризация, склады, физические
    единицы хранения, партии, единицы измерения товара, загрузка и выгрузка
    данных файлом, отчёты по остаткам, закупкам и резервам, расчёт
    себестоимости, правила пополнения, настройки склада и учётные политики
    юрлиц, заказы поставщику. Ни один маршрут склада не отсекается формальным
    признаком: весь модуль работает под обычным кабинетным RBAC, без
    алиасов, вебхуков и платформенных гардов.
    Для модуля marketplace (торговые площадки) опубликованы все 56 из 56 живых
    операций: магазины Ozon, Wildberries и Яндекс.Маркета, витрины товаров,
    остатков и фасетов, себестоимость, прайсинг и декомпозиция, отчёт о
    прибылях и убытках, сводка заказов, воронка, акции, группы товаров и
    расчёт юнит-экономики. Данные площадок читаются из внешней аналитической
    базы, а часть витрин ходит в API площадки напрямую; ключи доступа к
    площадкам не попадают в ответ ни одной операции.
    Для модуля settings (участники, роли, юрлица) опубликованы 29 из 37 живых
    операций: юрлица кабинета и их метод учёта, ставки НДС, роли с переносом
    носителей, участники, дополнительные поля и управление API-ключами.
    Внутренними остаются три маршрута состава модулей кабинета под
    платформенным гардом, выдача значения API-ключа и коннекторные алиасы.
    Для контура platform (поставка) опубликованы 24 операции каталога
    приложений Akeda Apps: карточка приложения и его версии с манифестом,
    предпросмотр прав до согласия, установка в кабинет, обновление, откат,
    отключение, возврат в работу, удаление, журнал установки, ключи подписи
    вебхуков, жизненный цикл токена установки, журнал доставки событий с
    мёртвыми письмами и повтор доставки. Кабинет называется в пути, а не
    берётся из сессии: с ним работает персонал платформы. Значение секрета
    подписи и значение токена возвращаются ровно один раз — в ответе на выдачу
    и на ротацию. Журнал доставки не отдаёт тело события: он сужен кабинетом,
    но не видимостью отдельных записей, и payload в нём превратил бы разбор
    интеграции в чтение любого документа по идентификатору доставки. В процент
    покрытия продуктовых модулей эти
    операции не входят: platform — контур поставки, а не модуль кабинета.
    Внутренними остаются секреты, legacy aliases и операторские endpoints; они
    не публикуются только ради процента.
    Отдельно от всего перечисленного стоит внешний контур `/api/v1/app` — три
    операции, предъявитель которых не человек, а САМА установка приложения с её
    краткосрочным токеном. Установка читает свою личность, свою настройку и
    забирает свой секрет краткосрочной выдачей; данных кабинета в этой группе
    нет ни одной операцией, и кабинета нет в адресах — он берётся из токена,
    поэтому назвать чужой нечем. Набор назван поимённо намеренно: остальные 770
    живых маршрутов написаны для человеческого принципала и читают кабинет и
    автора из сессии, которой у установки не бывает. Записи настройки, ротации
    токена, обмена учётных данных, секрета подписи и журнала доставки здесь нет
    сознательно — каждый из них закрыт своим решением канона.
servers:
  - url: https://erp.akeda.ru
    description: PROD
security:
  - erpUserToken: []
  - tenantApiKey: []
  - mcpOAuth:
      - akeda:delegate
tags:
  - name: Tasks
    description: Модуль tasks (задачник)
  - name: Calendar
    description: Модуль calendar (события, занятость и внешняя синхронизация)
  - name: Calendar public booking
    description: Неаутентифицированная самозапись по опубликованной ссылке
  - name: Chat
    description: Модуль chat (чаты и рабочие обсуждения)
  - name: Chat realtime
    description: Actor-private SSE-поток изменений чатов с durable cursor
  - name: Core directories
    description: Модуль core (справочники) — единый каталог, конструктор справочников и папки
  - name: Core contacts
    description: Модуль core (справочники) — контрагенты и их роли покупателя/поставщика
  - name: Core products
    description: Модуль core (справочники) — товары, услуги, семейства, варианты и внешние идентификаторы
  - name: Core documents
    description: Модуль core (справочники) — типы документов, журнал, проведение, связи и блокировки
  - name: Core registers
    description: Модуль core (справочники) — определения регистров, остатки, обороты и движения
  - name: Core accounting
    description: Модуль core (справочники) — валюта, аналитические разрезы и закрытие периода
  - name: Core ledger
    description: Модуль core (справочники) — план счетов, схема проводок и оборотно-сальдовая ведомость
  - name: Core accounting items
    description: Модуль core (справочники) — единые статьи ДДС и ОПиУ
  - name: Core employees
    description: Модуль core (справочники) — сотрудники, оргструктура и фотографии
  - name: Core employee operations
    description: Модуль core (справочники) — шаблоны приёма и увольнения, выданное имущество
  - name: Core currency rates
    description: Модуль core (справочники) — история, источники и обновление курсов валют
  - name: Core preferences
    description: Модуль core (справочники) — общие настройки кабинета и персональное состояние интерфейса
  - name: Core external refs
    description: Модуль core (справочники) — соответствия внешних объектов, ручной разбор и автоматч контрагентов
  - name: Core product transfers
    description: Модуль core (справочники) — шаблоны, управляемый импорт и экспорт номенклатуры
  - name: Core GL opening imports
    description: Модуль core (справочники) — разбор ОСВ 1С для предзаполнения начальных остатков
  - name: Finance accounts
    description: Модуль finance (счета и выписки) — банковские счета и входящие остатки
  - name: Finance statements
    description: Модуль finance (счета и выписки) — ручные и загруженные выписки
  - name: Finance transactions
    description: Модуль finance (счета и выписки) — операции, категоризация и очередь сверки
  - name: Finance connectors
    description: Модуль finance (счета и выписки) — безопасное управление подключениями к банкам
  - name: Finance connector sync
    description: Модуль finance (счета и выписки) — счета провайдера, синхронизация и журнал запусков
  - name: Finance requisites
    description: Модуль finance (счета и выписки) — проверка владельца, БИК и номера счёта
  - name: Finance counterparty terms
    description: Модуль finance (счета и выписки) — версионируемые коммерческие условия и позиция контрагента
  - name: Finance settlements
    description: Модуль finance (счета и выписки) — документы долгов, авансов, продаж, закупок и распределения оплат
  - name: Finance trade
    description: Модуль finance (счета и выписки) — журнал продаж и закупок, свободные авансы
  - name: Finance exchange
    description: Модуль finance (счета и выписки) — идемпотентный журнал обмена с внешними учётными системами
  - name: Finance imports
    description: Модуль finance (счета и выписки) — управляемый импорт банковских и кассовых операций
  - name: Finance payment calendar
    description: Модуль finance (счета и выписки) — планы, факты и прогноз движения денег
  - name: Finance P&L layouts
    description: Модуль finance (счета и выписки) — форма и строки отчёта ОПиУ
  - name: Finance registers
    description: Модуль finance (счета и выписки) — пересинхронизация и сверка учётных регистров
  - name: Finance reports
    description: Модуль finance (счета и выписки) — ДДС, ОПиУ, баланс и проверки периода
  - name: CRM pipelines
    description: Модуль crm — воронки, стадии, нормативы SLA и порядок этапов
  - name: CRM deals
    description: Модуль crm — сделки, доска, история стадий и причины отказа
  - name: CRM leads
    description: Модуль crm — заявки, квалификация и перевод в сделку
  - name: CRM customers
    description: Модуль crm — собственная база клиентов и перенос в справочник контрагентов ERP
  - name: CRM inbox
    description: Модуль crm — каналы, диалоги, переписка и шаблоны ответов
  - name: CRM automation
    description: Модуль crm — правила автоматизации, запуски и журнал действий
  - name: CRM analytics
    description: Модуль crm — сводка менеджера и аналитика продаж
  - name: CRM links
    description: Модуль crm — заметки и связи записей с задачами, событиями и встречами
  - name: Knowledge spaces
    description: Модуль knowledge (база знаний) — пространства и дерево страниц
  - name: Knowledge pages
    description: Модуль knowledge (база знаний) — страницы, редакции, согласование, публикация и корзина
  - name: Knowledge access
    description: Модуль knowledge (база знаний) — состав участников пространства и страницы
  - name: Knowledge files
    description: Модуль knowledge (база знаний) — файлы страницы и их содержимое
  - name: Knowledge search
    description: Модуль knowledge (база знаний) — поиск по материалам и ответ с цитатами
  - name: Stock documents
    description: Модуль stock (склад) — журнал складских документов, проведение, отмена, связи и блокировки
  - name: Stock inventory
    description: Модуль stock (склад) — инвентаризация, снимок остатков, ведомость пересчёта и производные акты
  - name: Stock warehouses
    description: Модуль stock (склад) — склады, их активность и блокировки деактивации
  - name: Stock handling units
    description: Модуль stock (склад) — физические единицы хранения, их состояние и подсказки размещения
  - name: Stock batches
    description: Модуль stock (склад) — партии
  - name: Stock product units
    description: Модуль stock (склад) — единицы измерения товара и их пересчёт
  - name: Stock references
    description: Модуль stock (склад) — справочные выборки склада, юрлица кабинета и поставщики
  - name: Stock imports
    description: Модуль stock (склад) — загрузка данных файлом, разбор, соответствие колонок, предпросмотр и применение
  - name: Stock exports
    description: Модуль stock (склад) — выгрузка данных файлом
  - name: Stock reports
    description: Модуль stock (склад) — отчёты по остаткам, закупкам и резервам
  - name: Stock valuation
    description: Модуль stock (склад) — расчёт себестоимости, предпросмотр и асинхронный пересчёт
  - name: Stock reorder rules
    description: Модуль stock (склад) — правила пополнения
  - name: Stock settings
    description: Модуль stock (склад) — настройки склада и учётные политики юрлиц
  - name: Stock purchasing
    description: Модуль stock (склад) — заказы поставщику
  - name: Marketplace stores
    description: Модуль marketplace (торговые площадки) — магазины Ozon, Wildberries и Яндекс.Маркета
  - name: Marketplace Ozon
    description: Модуль marketplace (торговые площадки) — витрины Ozon и расчёт юнит-экономики
  - name: Marketplace Wildberries
    description: Модуль marketplace (торговые площадки) — витрины Wildberries и карточка товара
  - name: Marketplace Yandex
    description: Модуль marketplace (торговые площадки) — витрины Яндекс.Маркета
  - name: Marketplace product groups
    description: Модуль marketplace (торговые площадки) — группы товаров Ozon и Wildberries
  - name: Finance payroll
    description: Модуль finance (счета и выписки) — зарплатные документы, реестры выплат и загрузка ведомости
  - name: Core reference
    description: Модуль core (справочники) — публичный слой ссылок, каталог справочников, значения по ключу и разрешение ссылок
  - name: Settings companies
    description: Модуль settings (участники, роли, юрлица) — юрлица кабинета, метод учёта и ставки НДС
  - name: Settings roles
    description: Модуль settings (участники, роли, юрлица) — роли, их носители и перенос носителей
  - name: Settings members
    description: Модуль settings (участники, роли, юрлица) — участники кабинета
  - name: Settings fields
    description: Модуль settings (участники, роли, юрлица) — дополнительные поля карточек
  - name: Settings API keys
    description: Модуль settings (участники, роли, юрлица) — ключи API кабинета и журнал доступа к ним
  - name: Settings apps
    description: Модуль settings (настройки кабинета) — каталог расширений глазами кабинета, экран согласия и управление своими установками
  - name: App runtime
    description: 'Внешний контур: маршруты, которые зовёт САМА установка приложения своим краткосрочным токеном. Предъявитель здесь не человек, кабинет берётся из токена, а не из адреса, и доступ решает пересечение согласия кабинета, манифеста версии и среза токена. Области `app:self` и `app:secrets` манифест обязан ЗАПРОСИТЬ, а кабинет — одобрить: установка, у которой их нет, получает 403, и это не поломка, а несогласие. Приложение, которое только принимает вебхуки и ничего у Akeda не спрашивает, не просит ни одной из них'
  - name: Developer account
    description: 'Личный контур внешнего разработчика Akeda Apps: самостоятельная регистрация, вход по одноразовой ссылке и заявка на имя издателя. Предъявитель здесь не сотрудник кабинета и не установка приложения, а человек, у которого кабинета может не быть вовсе. Кабинета в этих адресах нет ни одного сегмента, а токен сессии разработчика не открывает ни один маршрут кабинета: его хеш лежит в отдельном хранилище, и кабинетный запрос принципала не находит его ничем'
paths:
  /api/v1/tasks/snapshot:
    get:
      tags:
        - Tasks
      operationId: tasksGetSnapshot
      summary: Получить стартовый снимок задачника
      description: |
        Возвращает компактные задачи и стабильные справочники одним запросом
        для холодного старта web/iOS. Ответ содержит revision и ETag;
        If-None-Match возвращает 304. Детальные поля остаются на карточке задачи.
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: q
          in: query
          schema:
            type: string
        - name: section
          in: query
          schema:
            type: string
        - name: project
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: limit
          in: query
          description: 'Сколько задач попадёт в снимок. В отличие от списка задач, снимок без limit отдаёт не всё, а те же 200: признак tasks_has_more говорит, что за ними есть ещё'
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 200
        - name: If-None-Match
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Компактный снимок с ETag
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
                const: private, no-cache
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TasksSnapshot'
        '304':
          description: Снимок не изменился
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/tasks:
    get:
      tags:
        - Tasks
      operationId: tasksListTasks
      summary: Получить видимые пользователю задачи
      description: |
        Возвращает задачи текущего кабинета с учётом RBAC и record rules.
        Без limit исторически возвращается весь набор; новым клиентам следует
        передавать limit и compact=true и листать offset до has_more=false.
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - name: q
          in: query
          schema:
            type: string
        - name: section
          in: query
          schema:
            type: string
        - name: project
          in: query
          schema:
            type: string
        - name: status
          in: query
          description: UUID или несколько UUID через запятую
          schema:
            type: string
        - name: priority
          in: query
          schema:
            $ref: '#/components/schemas/TaskPriority'
        - name: scope
          in: query
          schema:
            type: string
            enum:
              - mine
        - name: compact
          in: query
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          description: Размер окна; сервер ограничивает значение максимумом 200
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Окно задач
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksCreateTask
      summary: Создать задачу
      description: |
        Для подзадачи передайте UUID родительской задачи в `parent`.
        Поле `description` принимает Markdown; строки `- [ ]` и `- [x]`
        отображаются как простой чек-лист внутри описания. Самостоятельный
        чек-лист с адресуемыми пунктами публикуется отдельным контрактом.
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      parameters:
        - $ref: '#/components/parameters/TenantHeader'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreate'
      responses:
        '201':
          description: Созданная задача
          headers:
            Idempotent-Replay:
              $ref: '#/components/headers/IdempotentReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/IdempotencyKeyMismatch'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/IdempotencyUnavailable'
  /api/v1/tasks/tasks/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TaskID'
    get:
      tags:
        - Tasks
      operationId: tasksGetTask
      summary: Получить карточку задачи
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Полная карточка задачи
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
        - Tasks
      operationId: tasksUpdateTask
      summary: Частично изменить задачу
      description: |
        Меняет только переданные поля. `parent` связывает задачу с родителем,
        `managed_checklist` атомарно заменяет одну нативную группу чек-листа,
        сохраняя остальные группы и обычный текст описания задачи.
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdate'
      responses:
        '200':
          description: Обновлённая задача
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
        - Tasks
      operationId: tasksArchiveTask
      summary: Мягко архивировать задачу
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '204':
          description: Задача архивирована
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/tasks/{id}/move:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TaskID'
    post:
      tags:
        - Tasks
      operationId: tasksMoveTask
      summary: Переместить задачу в другой workflow-статус
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskMove'
      responses:
        '200':
          description: Обновлённая задача
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/tasks/{id}/comments:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TaskID'
    get:
      tags:
        - Tasks
      operationId: tasksListComments
      summary: Получить обсуждение задачи
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Комментарии в хронологическом порядке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksCreateComment
      summary: Добавить комментарий к задаче
      description: |
        Заголовок `X-Akeda-Client: mcp` помечает запись как созданную агентом
        от имени пользователя, но не даёт дополнительных прав.
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      parameters:
        - $ref: '#/components/parameters/AkedaClientHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreate'
      responses:
        '201':
          description: Созданный комментарий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/tasks/{id}/agent-journal:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TaskID'
    get:
      tags:
        - Tasks
      operationId: tasksListAgentJournal
      summary: Получить журнал работы агентов по задаче
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Непубличные записи выполнения задачи
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksCreateAgentJournalEntry
      summary: Записать результат работы агента
      description: Запись не попадает в пользовательское обсуждение и не создаёт уведомление участникам.
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreate'
      responses:
        '201':
          description: Созданная запись журнала
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/comments/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    delete:
      tags:
        - Tasks
      operationId: tasksDeleteComment
      summary: Удалить комментарий
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '204':
          description: Комментарий удалён
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/projects:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListProjects
      summary: Получить доступные группы проектов задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Группы проектов со счётчиками
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksCreateProject
      summary: Создать группу проектов задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '201':
          description: Созданная группа проектов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/projects/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    patch:
      tags:
        - Tasks
      operationId: tasksUpdateProject
      summary: Изменить группу проектов задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
      responses:
        '200':
          description: Обновлённая группа проектов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
        - Tasks
      operationId: tasksArchiveProject
      summary: Архивировать группу проектов задач
      description: Если внутри остались задачи, укажите раздел назначения в `target_section`.
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveTransfer'
      responses:
        '204':
          description: Группа проектов архивирована
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/sections:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListSections
      summary: Получить проекты задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Проекты задач со счётчиками и участниками
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksCreateSection
      summary: Создать проект задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionCreate'
      responses:
        '201':
          description: Созданный проект задач
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/sections/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    patch:
      tags:
        - Tasks
      operationId: tasksUpdateSection
      summary: Изменить проект задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionUpdate'
      responses:
        '200':
          description: Обновлённый проект задач
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
        - Tasks
      operationId: tasksArchiveSection
      summary: Архивировать проект задач
      description: Если внутри остались задачи, передайте другой проект в `target_section`.
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveTransfer'
      responses:
        '204':
          description: Проект задач архивирован
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/statuses:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListStatuses
      summary: Получить workflow-статусы задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Статусы всех доступных проектов задач
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksCreateStatus
      summary: Создать workflow-статус
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusCreate'
      responses:
        '201':
          description: Созданный статус
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/statuses/reorder:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    patch:
      tags:
        - Tasks
      operationId: tasksReorderStatuses
      summary: Изменить порядок workflow-статусов
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusReorder'
      responses:
        '200':
          description: Порядок сохранён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/statuses/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    patch:
      tags:
        - Tasks
      operationId: tasksUpdateStatus
      summary: Изменить workflow-статус
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowStatusUpdate'
      responses:
        '200':
          description: Обновлённый статус
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
        - Tasks
      operationId: tasksDeleteStatus
      summary: Удалить workflow-статус
      description: Для занятого статуса передайте `move_tasks_to`, чтобы сначала перенести задачи.
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusDelete'
      responses:
        '204':
          description: Статус удалён
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/tags:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListTagCatalog
      summary: Получить каталог меток задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Метки рабочего пространства
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTagPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksCreateTag
      summary: Создать метку задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskTagCreate'
      responses:
        '201':
          description: Созданная метка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTagCatalogItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/tags/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    patch:
      tags:
        - Tasks
      operationId: tasksUpdateTag
      summary: Изменить метку задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskTagUpdate'
      responses:
        '200':
          description: Обновлённая метка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTagCatalogItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
        - Tasks
      operationId: tasksDeleteTag
      summary: Архивировать метку задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '204':
          description: Метка архивирована
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/members:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListMembers
      summary: Получить активных участников кабинета
      description: Используется для выбора исполнителя, наблюдателей и участников проектов задач.
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Участники кабинета
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/sections/{id}/members:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    get:
      tags:
        - Tasks
      operationId: tasksListSectionMembers
      summary: Получить участников проекта задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Участники с ролями в проекте задач
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SectionMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksAddSectionMember
      summary: Добавить участника в проект задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SectionMemberAssignment'
      responses:
        '201':
          description: Назначенная роль участника
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/section-members/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    delete:
      tags:
        - Tasks
      operationId: tasksDeleteSectionMember
      summary: Удалить участника из проекта задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '204':
          description: Участник удалён
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/projects/{id}/members:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    get:
      tags:
        - Tasks
      operationId: tasksListProjectMembers
      summary: Получить участников группы проектов задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Участники группы проектов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SectionMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksAddProjectMember
      summary: Добавить участника в группу проектов задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberAssignment'
      responses:
        '201':
          description: Назначенная роль участника
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/projects/{id}/members/{userID}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
      - $ref: '#/components/parameters/UserID'
    delete:
      tags:
        - Tasks
      operationId: tasksDeleteProjectMember
      summary: Удалить участника из группы проектов задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '204':
          description: Участник удалён
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/views:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListViews
      summary: Получить сохранённые виды задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Сохранённые фильтры и сортировки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskViewPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksCreateView
      summary: Сохранить вид задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskViewCreate'
      responses:
        '201':
          description: Созданный вид
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/views/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    delete:
      tags:
        - Tasks
      operationId: tasksDeleteView
      summary: Удалить сохранённый вид задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '204':
          description: Вид удалён
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/tasks/{id}/tags:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TaskID'
    get:
      tags:
        - Tasks
      operationId: tasksListTaskTags
      summary: Получить метки задачи
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Метки, прикреплённые к задаче
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksAttachTaskTag
      summary: Прикрепить к задаче существующую или новую метку
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagAttach'
      responses:
        '201':
          description: Прикреплённая метка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/tasks/{id}/relations:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TaskID'
    get:
      tags:
        - Tasks
      operationId: tasksListRelations
      summary: Получить связи задачи с другими задачами
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      parameters:
        - name: direction
          in: query
          description: Сторона связей относительно текущей задачи
          schema:
            $ref: '#/components/schemas/RelationDirection'
      responses:
        '200':
          description: Исходящие, входящие или все связи
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksCreateRelation
      summary: Связать задачу с другой задачей
      description: Поддерживаются обычная связь, блокировка, обратная блокировка и дубликат.
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationCreate'
      responses:
        '201':
          description: Созданная связь
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/relations/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    delete:
      tags:
        - Tasks
      operationId: tasksDeleteRelation
      summary: Удалить связь задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '204':
          description: Связь удалена
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/tasks/{id}/links:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TaskID'
    get:
      tags:
        - Tasks
      operationId: tasksListLinks
      summary: Получить привязки задачи к сущностям ERP
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Привязки к заказам, контактам, документам и другим сущностям
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksCreateLink
      summary: Привязать задачу к сущности ERP
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkCreate'
      responses:
        '201':
          description: Созданная привязка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/links/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    delete:
      tags:
        - Tasks
      operationId: tasksDeleteLink
      summary: Удалить привязку задачи к сущности ERP
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '204':
          description: Привязка удалена
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/tasks/{id}/activity:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TaskID'
    get:
      tags:
        - Tasks
      operationId: tasksListActivity
      summary: Получить ленту изменений задачи
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Неизменяемая история действий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/tasks/{id}/status-metrics:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/TaskID'
    get:
      tags:
        - Tasks
      operationId: tasksGetStatusMetrics
      summary: Получить историю переходов и время задачи в статусах
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      parameters:
        - name: from
          in: query
          description: Начало периода в RFC3339
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Конец периода в RFC3339
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Переходы и суммарная длительность по статусам
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusMetrics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/templates:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListTemplates
      summary: Получить шаблоны регулярных задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Доступные пользователю шаблоны
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTemplatePage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Tasks
      operationId: tasksCreateTemplate
      summary: Создать шаблон регулярной задачи
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskTemplateCreate'
      responses:
        '201':
          description: Созданный шаблон
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/templates/run-due:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    post:
      tags:
        - Tasks
      operationId: tasksRunDueTemplates
      summary: Запустить все шаблоны, срок которых наступил
      description: Повторный вызов идемпотентен по окну запуска шаблона.
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '200':
          description: Результаты запусков
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateRunPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/templates/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    patch:
      tags:
        - Tasks
      operationId: tasksUpdateTemplate
      summary: Изменить шаблон регулярной задачи
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskTemplateUpdate'
      responses:
        '200':
          description: Обновлённый шаблон
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
        - Tasks
      operationId: tasksArchiveTemplate
      summary: Архивировать шаблон регулярной задачи
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '204':
          description: Шаблон архивирован
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/templates/{id}/run:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    post:
      tags:
        - Tasks
      operationId: tasksRunTemplate
      summary: Немедленно создать задачу из шаблона
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '200':
          description: Результат запуска
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateRunResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/milestones:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListMilestones
      summary: Получить вехи проектов задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      parameters:
        - name: section
          in: query
          schema:
            type: string
        - name: project
          in: query
          schema:
            type: string
        - name: include_archived
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Вехи выбранного проекта или группы проектов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MilestonePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Tasks
      operationId: tasksCreateMilestone
      summary: Создать веху проекта задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MilestoneCreate'
      responses:
        '201':
          description: Созданная веха
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/tasks/milestones/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    get:
      tags:
        - Tasks
      operationId: tasksGetMilestone
      summary: Получить веху
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Карточка вехи
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Tasks
      operationId: tasksUpdateMilestone
      summary: Изменить веху
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MilestoneUpdate'
      responses:
        '200':
          description: Обновлённая веха
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Tasks
      operationId: tasksDeleteMilestone
      summary: Архивировать веху
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '200':
          description: Веха архивирована
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/tasks/cycles:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListCycles
      summary: Получить циклы и спринты
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      parameters:
        - name: section
          in: query
          schema:
            type: string
        - name: project
          in: query
          schema:
            type: string
        - name: owner_type
          in: query
          schema:
            type: string
            enum:
              - section
              - project
        - name: owner_id
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: include_archived
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Циклы выбранного владельца
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CyclePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Tasks
      operationId: tasksCreateCycle
      summary: Создать цикл или спринт
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CycleCreate'
      responses:
        '201':
          description: Созданный цикл
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cycle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/tasks/cycles/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    get:
      tags:
        - Tasks
      operationId: tasksGetCycle
      summary: Получить цикл или спринт
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Карточка цикла
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cycle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Tasks
      operationId: tasksUpdateCycle
      summary: Изменить цикл или спринт
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CycleUpdate'
      responses:
        '200':
          description: Обновлённый цикл
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cycle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Tasks
      operationId: tasksDeleteCycle
      summary: Архивировать цикл или спринт
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '200':
          description: Цикл архивирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/tasks/status-updates:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListStatusUpdates
      summary: Получить отчёты о состоянии проекта
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum:
              - section
              - project
        - name: owner_type
          in: query
          deprecated: true
          schema:
            type: string
            enum:
              - section
              - project
        - name: owner_id
          in: query
          schema:
            type: string
        - name: section
          in: query
          schema:
            type: string
        - name: project
          in: query
          schema:
            type: string
        - name: include_archived
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Отчёты о состоянии
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusUpdatePage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Tasks
      operationId: tasksCreateStatusUpdate
      summary: Опубликовать отчёт о состоянии проекта
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusUpdateCreate'
      responses:
        '201':
          description: Созданный отчёт
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusUpdate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/tasks/status-updates/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    get:
      tags:
        - Tasks
      operationId: tasksGetStatusUpdate
      summary: Получить отчёт о состоянии проекта
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Карточка отчёта
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusUpdate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Tasks
      operationId: tasksUpdateStatusUpdate
      summary: Изменить отчёт о состоянии проекта
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusUpdatePatch'
      responses:
        '200':
          description: Обновлённый отчёт
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusUpdate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Tasks
      operationId: tasksDeleteStatusUpdate
      summary: Архивировать отчёт о состоянии проекта
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '200':
          description: Отчёт архивирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/tasks/scrum/settings:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListScrumSettings
      summary: Получить настройки Scrum всех групп проектов задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Настройки ритма, разделов и команд
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrumSettingsPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/scrum/settings/{project}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ProjectID'
    get:
      tags:
        - Tasks
      operationId: tasksGetScrumSettings
      summary: Получить Scrum-настройки группы проектов задач
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Настройки Scrum-контура
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrumSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
        - Tasks
      operationId: tasksUpdateScrumSettings
      summary: Изменить Scrum-ритм, разделы и команду
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScrumSettingsUpdate'
      responses:
        '200':
          description: Обновлённые настройки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrumSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/scrum/metrics/{cycle}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/CycleID'
    get:
      tags:
        - Tasks
      operationId: tasksGetSprintMetrics
      summary: Получить командные метрики спринта
      description: Метрики не сравнивают людей; источник — история переходов задач.
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Throughput, lead/review time, rework, aging WIP и размер задач
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SprintMetrics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v1/tasks/customers:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListCustomers
      summary: Получить заказчиков проектов
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - name: include_archived
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Заказчики
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Tasks
      operationId: tasksCreateCustomer
      summary: Создать заказчика проектов
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
      responses:
        '201':
          description: Созданный заказчик
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/tasks/customers/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    get:
      tags:
        - Tasks
      operationId: tasksGetCustomer
      summary: Получить заказчика проектов
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Карточка заказчика
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Tasks
      operationId: tasksUpdateCustomer
      summary: Изменить заказчика проектов
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
      responses:
        '200':
          description: Обновлённый заказчик
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Tasks
      operationId: tasksDeleteCustomer
      summary: Архивировать заказчика проектов
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '200':
          description: Заказчик архивирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/tasks/customer-needs:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListCustomerNeeds
      summary: Получить потребности заказчиков
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - name: customer
          in: query
          schema:
            type: string
        - name: section
          in: query
          schema:
            type: string
        - name: task
          in: query
          schema:
            type: string
        - name: include_archived
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Потребности заказчиков
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerNeedPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Tasks
      operationId: tasksCreateCustomerNeed
      summary: Создать потребность заказчика
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerNeedCreate'
      responses:
        '201':
          description: Созданная потребность
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerNeed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/tasks/customer-needs/{id}:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
      - $ref: '#/components/parameters/ResourceID'
    get:
      tags:
        - Tasks
      operationId: tasksGetCustomerNeed
      summary: Получить потребность заказчика
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      responses:
        '200':
          description: Карточка потребности
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerNeed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Tasks
      operationId: tasksUpdateCustomerNeed
      summary: Изменить потребность заказчика
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerNeedUpdate'
      responses:
        '200':
          description: Обновлённая потребность
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerNeed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Tasks
      operationId: tasksDeleteCustomerNeed
      summary: Архивировать потребность заказчика
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      responses:
        '200':
          description: Потребность архивирована
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/tasks/documents:
    parameters:
      - $ref: '#/components/parameters/TenantHeader'
    get:
      tags:
        - Tasks
      operationId: tasksListDocuments
      summary: Получить документы задач и проектов
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:read
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - name: owner_type
          in: query
          schema:
            $ref: '#/components/schemas/DocumentOwnerType'
        - name: owner_id
          in: query
          schema:
            type: string
        - name: task
          in: query
          schema:
            type: string
        - name: section
          in: query
          schema:
            type: string
        - name: project
          in: query
          schema:
            type: string
        - name: milestone
          in: query
          schema:
            type: string
        - name: include_archived
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Документы выбранной сущности
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Tasks
      operationId: tasksCreateDocument
      summary: Создать документ задачи или проекта
      x-akeda-module: tasks
      x-akeda-release-stage: preview
      x-akeda-audience: external
      x-akeda-permission: tasks:write
      requestBody:
        required: true
[...]
